*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --clr-primary: #1D63ED;
    --clr-accent-100: #808DDD;
    --clr-accent-900: #17191E;
}


body {
    font-family: sans-serif;
    min-height: 100vh;
    background-color: var(--clr-accent-100);
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
}

.intro {
    color: var(--clr-accent-900);
}

.intro h1{
    font-size: 2rem;
    margin-bottom: 1.25em;
}

.intro .description {
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    display: block;
    color: white;
    background-color: var(--clr-accent-900);
    font-weight: bold;
    padding: 1em 2.25em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-size: 1.125rem;
    width: fit-content;
}

a:hover {
    color: var(--clr-primary);
}

@media (max-width: 1200px) {
    .home {
        justify-content: center;
    }
    .intro {
        text-align: center;
    }
    .intro .description {
        max-width: 700px;
    }
    .intro a {
        margin-inline: auto;
    }
}

.home .image-container {
    flex-grow: 1;
    max-width: 800px;
    overflow: hidden;
}

.home img {
    width: 100%;
    scale: 1.2;
}


.team {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}

.team h1 {
    text-align: center;
    padding: 1.5em;
    color: var(--clr-accent-900);
    font-weight: bold;
    font-size: 2.5rem;
}

.team .team-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 3em;
    gap: 20px;
}

.team a {
    margin-inline: auto;
}

.team-cards .card {
    background-color: var(--clr-accent-900);
    padding: 1em;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.card .info {
    display: grid;
    gap: 20px;
}

.card .info span {
    font-weight: bold;
}




