<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Cloud</title>
</head>
<body>
    <section class="team">
        <h1>Our Team</h1>
        <div class="team-cards">
            {% for member in team %}
            <div class="card">
                <div class="info">
                    <p><span>ID:</span> {{ member.ID }}</p>
                    <p><span>Name:</span> {{ member.Name }}</p>
                    <p><span>AGE:</span> {{ member.Age }}</p>
                    <p><span>CGPA:</span> {{ member.CGPA }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="/">Home Page</a>
    </section>
</body>
</html>
